@value large from '../global.module.css';

.footer {
  composes: pure-u-1 pure-u-md-3-4 offset-md-1-4 from global;
  padding: 1em 1em 0 0;
  text-align: right;
}

@media large {
  .footer {
    padding: 1em 2em 0 0;
  }
}

.button {
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-left: 1em;
}

.twitter-button {
  composes: twitter-button from '../global.module.css';
  composes: button;
}

.github-button {
  composes: github-button from '../global.module.css';
  composes: button;
}
