@value variables: './global.module.css';
@value containerMinWidth, containerWidth from variables;

.app {
  composes: pure-g from global;
  font-size: 16px;
  line-height: 1.7em;
  padding: 1em 2em;
  color: #555;
  max-width: containerWidth;
  min-width: containerMinWidth;
  height: 100%;
  position: relative;
}
