@value containerWidth: 64em;
@value containerMinWidth: 16em;
@value highlightColor: OrangeRed;
@value large: screen and (min-width: 48em);

.hidden-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

.pure-g div,
.pure-g section,
.pure-g aside {
  box-sizing: border-box;
}

.social-button {
  composes: hidden-text;
}

.twitter-button {
  composes: social-button;
  background: transparent url('/images/twitter.405a3.svg') no-repeat 0 0;
}

.github-button {
  composes: social-button;
  background: transparent url('/images/github.f1d11.svg') no-repeat 0 0;
}

hr {
  border-top: 1px solid #efefef;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  vertical-align: middle;
}

.list-link {
  color: #777;
  display: block;
  text-decoration: none;
}

.list-link-selected {
  color: highlightColor;
}

.list-link:hover {
  color: highlightColor;
}
