@import "purecss/build/pure.css";
@import "purecss/build/grids-responsive.css";
@import "../../../assets/css/offsets.css";
@import "./variables.css";

.pure-g div,
.pure-g section,
.pure-g aside {
  box-sizing: border-box;
}

.social-button {
  @mixin hidden-text;

  &--twitter {
    background: transparent url('/images/twitter.405a3.svg') no-repeat 0 0;
  }

  &--github {
    background: transparent url('/images/github.f1d11.svg') no-repeat 0 0;
  }
}

hr {
  border-top: 1px solid #efefef;
}

.menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      padding: 0;
      margin: 0;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__link {
    color: #777;
    display: block;
    text-decoration: none;

    &--selected,
    &:hover {
      color: $highlightColor;
    }
  }
}
