$containerWidth: 64em;
$containerMinWidth: 16em;
$highlightColor: OrangeRed;

@custom-media --full-width screen and (min-width: 48em);

@define-mixin hidden-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@define-mixin clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
