@value variables: '../variables.css';
@value large from variables;

.main {
  composes: clear-fix from '../global.css';
}

@media large {
  .content {
    float: right;
  }

  .sidebar {
    float: left;
  }
}
