@value large from '../global.module.css';

.main {
  composes: pure-u-1 from global;
  display: flex;
  flex-direction: column;
}

@media large {
  .main {
    flex-direction: row-reverse;
  }
}

.content {
  composes: pure-u-1 pure-u-md-3-4 from global;
}

.container {
  position: relative;
  padding: 0 1em;
}

@media large {
  .container {
    padding: 0 2em;
  }
}

.sidebar {
  composes: pure-u-1 pure-u-md-1-4 from global;
}

/* Protected names for CSSTransitionGroup animation */

.enter {
  opacity: 0.01;
  position: absolute;
}

.enterActive {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.1s;
}

.leave {
  opacity: 1;
  position: absolute;
}

.leaveActive {
  transition: opacity 0.1s ease-out;
  opacity: 0.01;
}

/* End protected animation names */
