@import "purecss/build/pure.css";
@import "purecss/build/grids-responsive.css";
@import "../../assets/css/offsets.css";

$containerWidth: 64em;
$containerMinWidth: 16em;
$highlightColor: OrangeRed;

@custom-media --full-width screen and (min-width: 48em);

@define-mixin hidden-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@define-mixin clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.pure-g div,
.pure-g section,
.pure-g aside {
  box-sizing: border-box;
}

.social-button {
  @mixin hidden-text;

  &--twitter {
    background: transparent url('/images/twitter.405a3.svg') no-repeat 0 0;
  }

  &--github {
    background: transparent url('/images/github.f1d11.svg') no-repeat 0 0;
  }
}

hr {
  border-top: 1px solid #efefef;
}

.container {
  font-size: 16px;
  line-height: 1.7em;
  padding: 1em 2em;
  color: #555;
  max-width: $containerWidth;
  min-width: $containerMinWidth;
  height: 100%;
  position: relative;
}

.menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      padding: 0;
      margin: 0;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__link {
    color: #777;
    display: block;
    text-decoration: none;

    &--selected,
    &:hover {
      color: $highlightColor;
    }
  }
}

.header {
  padding: 0 1em;

  h2 {
    a {
      color: #111;
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__menu {
    ul {
      width: 100%;
      white-space: nowrap;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
      }
    }

    &__link {
      padding: 0.5em 2em 0.5em 0;
    }
  }
}

.main {
  @mixin clear-fix;

  &__content {
    @media (--full-width) {
      float: right;
    }
  }

  &__sidebar {
    @media (--full-width) {
      float: left;
    }
  }
}

.content {
  padding: 0 1em;
}

.sidebar {
  padding: 0 1em;
  margin-bottom: 1em;

  @media (--full-width) {
    text-align: right;
    padding-top: 3.9em;
    margin: 0;
  }

  &__header {
    padding-top: 1em;

    @media (--full-width) {
      display: none;
    }
  }

  &__menu {
    &__link {
      padding: 0.5em 0;
    }
  }
}

.footer {
  padding: 1em 1em 0 0;
  text-align: right;

  &__social-button {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-left: 1em;
  }
}
