$containerWidth: 1024px;

.pure-g div,
.pure-g section,
.pure-g aside {
  box-sizing: border-box;
}

.container {
  font-size: 16px;
  line-height: 1.7em;
  padding: 1em;
  color: #555;

  .pure-menu-selected.pure-menu-link,
  .pure-menu-selected.pure-menu-link:visited {
    background-color: inherit;
    color: OrangeRed;
  }

  .pure-menu-link:hover,
  .pure-menu-selected.pure-menu-link:hover {
    background-color: inherit;
    color: OrangeRed;
  }

  header {
    max-width: $containerWidth;

    .header-container {
      padding-left: 1em;

      h2 {
        a {
          color: #111;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    nav {
      ul {
        padding: 0;
        margin: 0;
      }
    }
  }

  .main {
    max-width: $containerWidth;

    aside.sidenav {
      text-align: right;
      padding-top: 3.4em;
      padding-right: 1em;
    }

    .content {
      padding-left: 1em;
    }
  }
}
